.typescript {
	color: #007ACC !important;
}

.bcc {
	color: #2b6abc !important;
}

.rxjsc {
	color: #c1185a;
}

.angular {
	color: #dd0031 !important;
}

.webrtc-orange {
	color: #ff6600 !important;
}