.typescript {
	color: #007ACC !important;
}

.bcc {
	color: #2b6abc !important;
}

.rxjsc {
	color: #c1185a;
}

.angular {
	color: #dd0031 !important;
}

.webrtc-orange {
	color: #ff6600 !important;
}

.html {
	color: #F1672C !important;
}

.css {
	color: #008FD5 !important;
}

.js {
	color: #8ACE17 !important;
}

.kanban {
	color: #EC2A48 !important;
}

.elvia {
	color: #28F400 !important;
}